<div id="content">

    <div class="bg-white-only">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="wrapper">
                        <ul class="timeline">
                            <li class="tl-header">
                                <div class="btn btn-info">Now</div>
                            </li>
                            <li class="tl-item" ng-if="vm.activities.length==0">
                                <div class="tl-wrap ">
                                    <span class="tl-date">Today</span>
                                    <div class="tl-content panel padder b-a w-lg w-auto-xs">
                                        <span class="arrow left pull-up"></span>
                                        <!--<div class="text-lt m-b-sm">Strava activity</div>-->
                                        <div class="panel-body">
                                            <div class="clear">
                                                <span>You don't have any activities yet.</span>
                                                <div class="m-b m-t">
                                                    <a href class="btn btn-success btn-rounded font-bold m-b-xs">Connect</a>
                                                    <a href class="btn btn-success btn-rounded font-bold m-b-xs">Add manually</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="tl-item" ng-repeat="activity in vm.activities track by $index">
                                <div class="tl-wrap b-primary">
                                    <span class="tl-date">04.2014</span>
                                    <div class="tl-content panel padder b-a w-md w-auto-xs">
                                        <span class="arrow left pull-up"></span>
                                        <div class="text-lt m-b-sm">Strava activity</div>
                                        <div class="panel-body pull-in b-t b-light">
                                            <div class="clear">
                                                <span>{{activity.activityType}}</span>
                                                <span>{{activity.activityAverageSpeed}}km/h</span>
                                                <span>{{activity.activityDuration}}h</span>
                                                <span>{{activity.dateTime}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="tl-header" ng-if="vm.activities.length==0">
                                <div class="btn btn-sm btn-default btn-rounded">more</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="m-t-xxl m-b-xxl padder-v">
                        <h1 class="font-bold l-h-1x m-t-xxl text-black padder-v animated fadeInDown">
                            Connect ot strava App
                        </h1>
                        <a href="{{vm.stravaActivationLink}}">
                            <input type="button" value="Visit Google"/>
                        </a>
                        <button ng-click="vm.activateStrava()">Connect to strava</button>
                        <span><h3>Activities</h3><button ng-click="vm.getActivities()">Get</button></span>
                        <div>{{vm.activities}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


